.image {
  padding: 12px;
  border-radius: 1.5rem;
  cursor: pointer;
  background-color: black;
  transition: background-color 0.3s ease;
}

.image:hover {
  background-color: rgba(35, 175, 206, 1);
}

.image.active {
  background-color: rgba(35, 175, 206, 1);
}