/* src/styles/layout.scss */
.container {
    // width: 95%;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
  
    @media (min-width: 640px) {
      width: 90%;
    }
  
    @media (min-width: 768px) {
      width: 90%;
    }
  
    @media (min-width: 1024px) {
      width: 99%;
    }
  
    @media (min-width: 1280px) {
      width: 100%;
    }
  }
  